.delete {
    float: right;
    color: rgb(248, 126, 89);
    font-size: large;
    font-weight: bold;
}

.box{
    border: 1px solid grey;
    margin: 10px 0px;
    background-color: rgb(167, 192, 245);
    padding: 10px;
    font-size: 20px;
}

.boxDone{
    border: 1px solid grey;
    margin: 10px 0px;
    background-color: rgb(245, 211, 167);
    padding: 10px;
    font-size: 20px;
    text-decoration:line-through;
}